.dropdown {
    position: relative;
    display: inline-block;

    img {
        margin: 8px;
    }

    .dropdown-toggle {
        background: #E4E6E8;
        border: none;
        padding: 3px 5px;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .dropdown-toggle img {
        margin: 8px;
    }

    .dropdown-menu {
        position: absolute;
        background: #ffffff;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 10;
        margin-top: 5px;
        max-height: 150px; 
        overflow-y: auto;  
    }

    .dropdown-option {
        width: 120px;
        padding: 10px 7px;
        cursor: pointer;
    }

    .dropdown-option:hover {
        background: #f0f0f0;
    }

    li {
        list-style-type: none;
    }
}
