.card-reaction {
    background-color: white;
    border-radius: 50%;
    width: 25px; 
    height: 25px; 
    padding: 1px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
