.card-extra-info {
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
}

.card-reaction img {
  width: 24px;
  height: 24px;
  margin: 5px 0;
}

.card {
  min-height: 490px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}

.card-label {
width: min-content !important;
}

.campaign-card-container {
  position: relative;
}

.popup-wrapper {
  position: absolute;
  top: -4px;
  left: 0;
  width: 100%;
  z-index: 1000; 
}

.card {
  position: relative;
  z-index: 1;
}

.add-money{
  cursor: pointer;
  width: 124px;
  justify-content: end;
  margin-bottom: 10px;
  position: absolute;
  bottom: 90%;
  border-radius: 50px;
  border: 1px solid #E4E6E8;
  padding: 6px 3px ;
}

.add-money button{
  padding: 0px;
  margin-right: 14px;
  border:none;
  cursor: pointer;
}
.card-image {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-label {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  border-radius: 50px;
  width: 30%;
}

.card-reactions {
  position: absolute;
  top: 10px;
  right: 10px;
  flex-direction: column;
}

.card-content {
  padding: 20px;
  position: relative;
    border-radius: 30px;
    top: -25px;
}

.card-stats {
  width: 80%;
  justify-content: end;
  margin-bottom: 10px;
  position: absolute;
  bottom: 90%;
  margin-left: 14%;
}

.card-content h3 {
  font-size: 18px;
  color: #333;
  margin: 10px 0;
}

.card-meta {
  margin-bottom: 10px;
}

.button-white{
  padding: 11px 24px;
}

.no-of-clicks{
  border-radius: 50px;
  width: 40%;
  margin-right: 20px;
}

.titleStyles{
  display: flex;
  align-items: center;

  *{
    margin: 3px 10px;
  }
}
