.card-reaction {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 1px;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
}

.reaction-count {
    visibility: hidden;
    position: absolute;
    right: 35px;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
}
.card-reaction button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.card-reaction:hover .reaction-count {
    visibility: visible;
}
