@import "../../styles/mixin.scss";

.campaign-details-container{
    background-color: var(--clr-cultured);

    .title{
        font-weight: var(--fw-700);
        font-size: var(--fs-32);
        line-height: var(--lh-44px);
        margin: 10px 0px;
    }

    .campaign-details-section{
        height: 100vh;
        max-width: 1200px;
        margin: auto;
    
        .grid-container{
            @include grid-container(2, 1.5rem);
        }
    
        @media (max-width: 50em) {
            .grid-container{
                @include grid-container(1, 1rem);
            }
        }
    }

    .grid-row{
        display: grid;
        gap: 1rem;
    }

}