@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.text-decoration-none {
  text-decoration: none;
}
#root{

  --fs-16: 16px;
  --fs-32: 32px;

  --fw-800: 800;
  --fw-700: 700;

  --lh-24: 24px;
  --lh-44px: 44px;

  --clr-black: #000000;
  --clr-charcoal: #22222A;
  --clr-crayola: #AEB4C2;
  --clr-cultured: #F5F6FA;
  --clr-white: #FFFFFF;
  --clr-gray-500: #737373;
  --clr-gray-300: #E4E6E8;
  --clr-gray-100: #F2F4F6;
  --clr-light-gray: #CACACA;
}

.sub-container{
  margin: auto;
  max-width: 1140px;
}

.cursor-pointer{
  cursor: pointer;
}

.text-transform-capitalize{
  text-transform: capitalize;
}

.text-transform-uppercase{
  text-transform: uppercase;
}

.main-container{
  max-width: 1140px;
}
.flex {
  display: flex;
}

.flex-reverse{
  flex-direction: row-reverse;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}
.justify-space-around {
  justify-content: space-around;
}
.justify-space-evenly {
  justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
  .maincontainer{
     display: grid;
  }

 }

.align-center {
  align-items: center;
}

.font-color-yellow-orange {
  color: #F09814
}

.button-blue:hover {
  background-color: #1c86ee;
}
.gap-8 {
  gap: 8px;
}

.gap-16 {
  gap: 16px;
}


.height-100{
  height: 100%;
}

.ff-primary{
  font-family: 'Mulish', sans-serif;
}

.ff-secondary{
  font-family: 'Montserrat', sans-serif;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}
.font-weight-800 {
  font-weight: 800;
}

.font-size-16 {
  font-size: 16px;
}
.font-size-10 {
  font-size: 10px;
}

.font-size-11 {
  font-size: 11px;
}


.font-size-52 {
  font-size: 52px;
}

.font-size-48 {
  font-size: 48px;
}
.font-size-24 {
  font-size: 24px;
}
.font-size-32 {
  font-size: 32px;
}
.font-size-28 {
  font-size: 28px;
}
.font-size-49 {
  font-size: 49px;
}

.bg-dark {
  background-color: #141516;
}

.bg-white {
  background-color: #fff;
}


.text-white {
  color: #fff;
}
.text-black {
  color: #141516;
}
.text-blue{
  color: #4880FF;
}
.text-red{
  color: red;
}
.text-gray{
  color: #737373;
}
.ff-tertiary{
  font-family: 'Manrope';
}

.py-4 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.m-4 {
  margin: 16px;
}
.m-2 {
  margin: 8px;
}
.mb-80{
  margin-bottom: 80px;

}
.mx-4 {
  margin-left: 16px;
  margin-right: 16px;
}

.my-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}
.mt-68 {
  margin-top: 68px;
}
.mt-168 {
  margin-top: 168px;
}
.mt-13 {
  margin-top: 13px;
}
.mt-36 {
  margin-top: 36px;
}

.mb-40 {
  margin-bottom: 40px;
}
.mb-30 {
  margin-bottom: 30px;
}
.text-center {
  text-align: center;
}
.text-start {
  text-align: start;
}

.text-align-center{
  text-align: center;
}

@media (max-width: 820px) {
  .grid-col-st {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .grid-col-rev {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .grid-cols-2-md {
    grid-template-columns: 1fr !important;
    gap: 25px !important;
  }}
.mobdisplay-none {
  @media screen and (max-width: 768px) {
    display: none !important;
    
  }
}
