.share-link-popup {
    top: 0;
    left: 0;
    height: 120px;
    margin-top: 17px;
    background: rgba(240, 235, 235, 0.5);
    z-index: 1000;
  }
  
  .share-link-component {
    background: white;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid  grey ;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }
  
  .close-button {
   justify-content: flex-end;
  }
  
  .url-container {
    border: 1px solid black;
    border-radius:5px;
    .url-input {
      flex: 1;
      padding: 10px;
      border:none;
    }
  
    button {
      border-radius: 5px;
      margin-right: 3px;
    }
  }
  