@import "../../styles/mixin.scss";
.campaign-list-container{
    background-color: var(--clr-cultured);
    height: 100vh;
    position: relative;
    margin: auto;
    .campaign-list {
        margin: 30px auto;
        justify-content: center;
        @include grid-container-cards(3, 50px, 0.2fr);
        
    }
    
    .card-width-392{
        width: 392px;
    }
    
    @media screen and (max-width: 1337px) {
        .campaign-list {
            @include grid-container-cards(2, 12px, 0.2fr);
            justify-content: center;
        }
        .campaign-subtext{
            margin-right: 0px !important;
        }
        
    }
    @media screen and (max-width: 880px) {
        .campaign-list {
            @include grid-container-cards(1, 12px, 0.2fr);
            justify-content: center;
        }
        .card{
            width: 470px;
            height: 480px;
        }   
        .campaign-header{
            display: block !important;
        }
        .campaignlistcontainer{
            width: fit-content !important;
        }
        .filter-container{
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        .campaign-subtext{
            width: fit-content !important;
        }
        .card-stats{
            margin-left: 300px;
        }
    }
    

    .campaign-start-text{
        width: 48%;
    }
    
   
    .campaign-subtext{
        width: 44%;
        margin-left: 7px;
    }
    .card-container{
        max-width:1500px;
    }

    button:hover{
        cursor: pointer;
    }
        

}    
