.button-blue {
  
    display: inline-block;
    padding: 8px 16px;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #1e90ff;
    color: white;
  }
  
  .button-white {
    display: inline-block;
    padding: 8px 16px;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: white;
    color: #141516;
  }
  
  .button-black {
    background-color: #141516;
    color: white;
    display: inline-block;
    padding: 8px 16px;
    border:solid 1px white;
    border-radius: 9999px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  