.no-of-clicks{
    padding: 5px 1px !important;
    border: 1px solid #E4E6E8;
    box-shadow: 0 4px 6px rgb(177 164 164 / 70%);

    &.dimension-styles{
        width: 130px;
        height: 36px;
    }
}


